@use '@/styles/variables.scss' as *;

.container {
  padding: $spacing-xxl * 2;
  @include flex-center;
  flex-direction: column;
  gap: $spacing-md;
}

.icon {
  font-size: 120rpx;
}

.title {
  font-size: $font-size-lg;
  color: $color-text-secondary;
  font-weight: 500;
}

.description {
  font-size: $font-size-sm;
  color: $color-text-tertiary;
  text-align: center;
}
